@import '../../assets/styles/common-modules/form.module.scss';

.container {
  width: 600px;
}

.form {
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 100px;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
}

.field {
  width: 210px;
}

.textarea {
  height: 100px;
  resize: none;
}
