@import '../../assets/styles/vars.scss';

.container {
  padding: 10px 15px 10px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $addition-color;
  color: white;
  box-shadow: 0 3px 5px grey;
  height: 76px;
}

.logo {
  display: flex;
  column-gap: 10px;
  font-size: 20px;
  color: white;
}
